@import './variables.css';

.header, .sidebar, .footer, .main {
    background-color: var(--background-color);
}

header {
    position: fixed;
    z-index: var(--z-index-header);
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 5px var(--border-color);
}

header h1{
    font-size: 30px;
    letter-spacing: 4px;
    font-family: Arial, sans-serif;
}

nav {
    position: fixed;
    z-index: var(--z-index-navbar);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: var(--header-height);
    left: 0;
    width: var(--navbar-width);
    height: calc(100% - var(--header-height));
    border-right: 1px solid var(--border-color);
    box-shadow: 2px 5px 5px var(--border-color);
    background-color: var(--button-bg-color); /* 背景颜色 */
}

.navBar-button {
    display: flex;
    align-items: center;
    flex-direction: column;

    justify-items: center;
    padding: 10px;
    width: 100%;
    height: auto;
    border: none;
    background-color: var(--button-bg-color);
    border-bottom: 1px solid var(--border-color); /* 按钮底部分隔线 */
    cursor: pointer;
    transition: background-color 0.3s;
}

.navBar-button.active {
    background-color: var(--accent-color);
    color: var(--accent-color-secondary);
}

.navBar-button:hover {
    background-color: var(--accent-color);  
}

.navBar-button-icon {
    width: 24px;
    height: 24px;
    margin-bottom: 5px; /* 图标与文字间的距离 */
}

.navBar-button-text {
    font-size: 11px;
    color: var(--button-text-color); /* 文字颜色 */
}



aside {
    position: fixed;
    z-index: var(--z-index-status-bar);
    right: 0%;
    top: var(--header-height);
    width: 10%;
    max-height: calc(100% - var(--header-height));
    box-shadow: var(--box-shadow-default);
    margin: 15px 15px 15px 15px;
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    font-size: 12px;
    color: #333;
    text-shadow: 0 1px 0 #fff;
    font-weight: bold;
    padding: 0px 8px;
}


#main {
    display: flex;
    position: absolute;
    z-index: var(--z-index-main);
    left: var(--navbar-width);
    top: var(--header-height);
    min-width: calc(100% - var(--navbar-width));
    min-height: calc(100% - var(--header-height));
    overflow: auto;    /* 修改 overflow 以允许滚动条显示 */
    background-color: #cdd8ec38; /* 背景颜色可以让扩展的区域更加可见 */
}

footer {
    z-index: var(--z-index-footer);
    position: fixed;
    top: 95%;
    width: 100%;
    border-bottom: var(--border-color);
    box-shadow: 10px 5px 5px var(--border-color);
}


.back-center-button {
    position: absolute;
    z-index: calc(var(--z-index-main) + 1);
    right: 3%;  /* 距离容器右侧 20 像素 */
    bottom: 3%; /* 距离容器底部 20 像素 */
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 12px;
    color: #333;
    padding: 8px 8px;
    background: linear-gradient(to bottom, #e6e6e6, #f2f2f2);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 0 #fff;
    font-weight: bold;
}

.back-center-button:hover {
    background: linear-gradient(to bottom, #f2f2f2, #e3d6a8);
    border: 2px double var(--accent-color);
}

#back-center-button.activated {
    transform: scale(1.2); /* 激活状态下变大 */
    animation: glow 1s infinite alternate; /* 闪烁光芒 */
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px #ffdd44;
    }
    to {
        box-shadow: 0 0 20px #ffdd44;
    }
}