/* 初始隐藏状态，设置负的 left 值隐藏侧边栏 */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* 顶部导航栏 */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 7; /* 设置最高的层次 */
}
.title {
    font-size: 30px;
    letter-spacing: 4px;
}
.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 0;
    left: 0;
    width: 120px;
    height: 100%;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    z-index: 6;
}



.button-container {
    max-height: 300px;
    /* overflow-y: auto; */
    width: 120px;
    margin: 60px 0px 0px 0px;
}

.button-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    filter: grayscale(100%);
}

.button-text {
    margin-left: 0px;
    margin-top: 5px;
    font-size: small;
}



.toggle-button {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(240, 120, 20, 0.1);
    border-color: aqua;
    border: none;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    width: 100%;
    text-align: left;
    color: grey;
}

.toggle-button:hover {
    background-color: #e2e6ea;
}

.toggle-button.active {
    color: rgb(165, 26, 105); /* 激活时文字为彩色 */
}
.toggle-button.active .button-icon {
    filter: none; /* 激活时图标为彩色 */
}
.toolbar {
    position: fixed;
    top: 0;
    left: -350px; /* 初始位置在屏幕外 */
    width: 350px;
    height: calc(100% - 60px);
    margin-top: 60px;
    transition: left 0.3s ease; /* 使侧边栏滑动有动画效果 */
    z-index: 5; /* 第二高的层次 */
    position: fixed;
    display: flex;
    flex-direction: column; /* 工具栏列排列 */
    background-color: rgba(255, 255, 255, 0.75); /* 设置白色背景 */
    padding: 10px; /* 添加内边距 */
    border-right: 2px solid #ccc; /* 添加一个浅色边框 */
    border-radius: 8px; /* 让边角圆润一些 */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
    align-items: center;
    overflow-x: hidden;
}



/* 当侧边栏打开时的样式 */
.toolbar.open {
    left: 120px; /* 显示在屏幕内 sidebar的尺寸 */
}

.toolbar1 {
    gap: 30px; /* 控制行间距 */
}

.toolbar2 {
    overflow-y: auto;
    gap: 10px;
    min-width: 370px;
    max-width: 380px;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}

.userInfoBar {
    justify-items: start;
    display: flex;
    align-items: center;
    justify-content: space-around; 
     /* 控制每项之间的间距 */
}
.user-info-item {
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 0 10px;
}

/* 整体容器样式 */
#user-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* 居中显示 */
}

/* 标题样式 */
#user-info-container h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
    text-align: center;
}

/* 用户信息项样式 */
.user-info-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    font-size: 1em;
    color: #555;
}

/* 标签样式 */
.user-info-item label {
    font-weight: bold;
    color: #333;
}



/* 按钮样式 */
#editButton, #logoutButton {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}


#logoutButton {
    background-color: #f44336;
    color: white;
}


/* 卡片区域 */
.region-card {
    flex: 0 0 auto; 
    width: 300px;
    margin: 15px 15px 0px 15px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #f9f9c5; /* 默认的背景颜色 */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* 主内容区域 */
.main-content {
    margin-left: 200px; /* 左侧工具栏的宽度 */
    margin-top: 60px; /* 顶部导航栏的高度 */
    height: calc(100% - 60px);
    position: relative;

    background: #fafafa;
    z-index: 3;
}
#labelCanvas {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: 2;
}
#areaHandleCanvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
}
#tipsCanvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;
}
#hexCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* 卡片类的样式 */
  
.region-card .region-title {
    font-size: 24px;
    color: rgb(210, 105, 30);
    margin: 8px 0;
}

.region-card .region-info {
    font-size: 14px;
    color: gray;
    margin: 5px 0;
}

.region-card .effect-title {
    font-size: 18px;
    color: rgb(22, 62, 113);
    margin: 8px 0;
}

.region-card .stat-title {
    font-size: 14px;
    color: rgb(22, 62, 113);
    margin: 10px 0;
}

.region-card ul {
    margin: 0;
    padding-left: 20px;
}

.region-card h4 {
    margin-top: 8px;
    margin-bottom: 8px;
}

/* 第三个toolbar的样式 */
.content-section {
    margin-bottom: 0px;
}

.content-section h2 {
    font-size: 20px;
    color: #2c3e50;
    /* margin-bottom: 10px; */
}

.content-section p {
    font-size: 14px;
    color: #34495e;
    line-height: 1.6;
}

#linkStyle a {
    font-size: 10px;
    color: #2980b9;
    text-decoration: none;
}

#linkStyle a:hover {
    text-decoration: underline;
    color: #1a5276;
}

.image-section {
    display: flex;
    justify-content: space-between;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    gap: 10px;

}
  
.support-image {
    display: flex;
    max-width: 40%;
    height: auto;
    flex: 1;
    border: 2px solid #bdc3c7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.support-image:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}
.linkStyle {
    margin: 0 0px;
    width: 28%;
    height: auto;
}

.linkStyle img {
    display: flex;
    margin: 0 auto;
    width: 28%;
    height: auto;
    flex: 1;
}

.linkStyle p {
    font-size: 8px;
}

/* 登录窗口 */
#loginModal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1001;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#loginModal input {
    width: calc(100% - 20px); /* 减去左右内边距 */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#loginModal button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login {
    background-color: #28a745;
    color: white;
}

.cancel {
    background-color: #dc3545;
    color: white;
}

/* 展览画廊样式 */
.hex-button {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid transparent;
    text-align: center;
    line-height: 60px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background: #f0f0f0;
    position: fixed; /* 使用固定定位 */
    right: 20px; /* 右边距 */
    bottom: 20px; /* 底边距 */
    transition: border-color 0.3s ease-in-out;
    z-index: 4;
    align-items: center;
    justify-content: center
  }
  
  .hex-button::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 2px solid rgba(95, 94, 127, 0.397); /* 外圈黑色线条 */
    border-radius: 50%;
  }
  
  .hex-button::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid rgba(104, 116, 130, 0.421); /* 内圈黑色线条 */
    border-radius: 50%;
  }
  
  .hex-button:hover {
    border-color: gold; /* 鼠标悬停时的金色边框 */
  }


.hexGridBar {
    left: calc(-100% + 120px);
    display: grid;
    overflow-y: auto;
    gap: 10px;
    width: calc(100% - 120px);
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    justify-items: start; /* 确保每个格子从左侧开始排列 */
    align-items: start;   /* 确保垂直方向上从上到下排列 */
}

.hexgrid-button {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr; /* 定义网格的行比例 3:2:2 */
    align-items: stretch; /* 使每个子元素充满可用空间 */
    justify-items: center; /* 水平居中对齐内容 */
    margin: 0;  /* 移除额外的外边距，避免按钮不一致 */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    width: 150px;  
    height: 250px; 
    box-sizing: border-box;
}

.hexgrid-cover {
    width: 50%;
    height: 50%;
    object-fit: fill; /* 确保封面图占据整个空间并保持比例 */
    border-bottom: 1px solid #ccc;
}

.hexgrid-name, .hexgrid-owner {
    font-size: 14px;
    text-align: center;
    width: 100%; 
    align-self: center;
}


.hexgrid-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.hexgrid-modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    width: 500px;
}

.hexgrid-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.hexgrid-modal-cover {
    width: 100%;
    height: auto;
}

.hexgrid-description {
    padding: 10px;
}

.hexgrid-button-group {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.hexgrid-close-button {
    background: red;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.modal {
    display: none; /* 默认隐藏 */
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}