@import './variables.css';

.header, .sidebar, .footer, .main {
    background-color: var(--background-color);
}

header {
    position: fixed;
    z-index: var(--z-index-header);
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 5px var(--border-color);
}

header h1{
    font-size: 30px;
    letter-spacing: 4px;
    font-family: Arial, sans-serif;
}

nav {
    position: fixed;
    z-index: var(--z-index-navbar);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: var(--header-height);
    left: 0;
    width: var(--navbar-width);
    height: calc(100% - var(--header-height));
    border-right: 1px solid var(--border-color);
    box-shadow: 2px 5px 5px var(--border-color);
    background-color: var(--button-bg-color); /* 背景颜色 */
}

.navBar-button {
    display: flex;
    align-items: center;
    flex-direction: column;

    justify-items: center;
    padding: 10px;
    width: 100%;
    height: auto;
    border: none;
    background-color: var(--button-bg-color);
    border-bottom: 1px solid var(--border-color); /* 按钮底部分隔线 */
    cursor: pointer;
    transition: background-color 0.3s;
}

.navBar-button.active {
    background-color: var(--accent-color);
    color: var(--accent-color-secondary);
}

.navBar-button:hover {
    background-color: var(--accent-color);  
}

.navBar-button-icon {
    width: 24px;
    height: 24px;
    margin-bottom: 5px; /* 图标与文字间的距离 */
}

.navBar-button-text {
    font-size: 11px;
    color: var(--button-text-color); /* 文字颜色 */
}



aside {
    position: fixed;
    z-index: var(--z-index-status-bar);
    right: 0%;
    top: var(--header-height);
    width: 10%;
    max-height: calc(100% - var(--header-height));
    box-shadow: var(--box-shadow-default);
    margin: 15px 15px 15px 15px;
    border-radius: var(--border-radius);
}


#main {
    display: block;
    position: absolute;
    z-index: var(--z-index-main);
    left: var(--navbar-width);
    top: var(--header-height);
    width: calc(100% - var(--navbar-width));
    height: calc(100% - var(--header-height));
    overflow: hidden; /* 防止滚动条出现 */
}

footer {
    z-index: var(--z-index-footer);
    position: fixed;
    top: 95%;
    width: 100%;
    border-bottom: var(--border-color);
    box-shadow: 10px 5px 5px var(--border-color);
}
