:root {
    /* z-index 变量 */
    --z-index-header: 70;
    --z-index-navbar: 60;
    --z-index-sidebar: 50;
    --z-index-status-bar: 40;
    --z-index-main: 30;
    --z-index-footer: 0;

    /* 尺寸变量 */
    --header-height: 80px;
    --navbar-width: 120px;

    /* 颜色变量 */
    --font-color: rgb(31, 34, 38);
    --background-color: rgb(223, 228, 240, 1);
    --border-color: rgb(23, 24, 26);
    --box-shadow-default: 2px 2px 10px var(--border-color); 
    --border-radius: 12px;

    /* 强调色变量 */
    --accent-color: rgba(220, 188, 148, 1);
    --accent-color-secondary: rgb(154, 126, 90);
    --warning-color-primary: rgb(139, 0, 0);
    --warning-color-secondary: rgb(179, 64, 32);

    /* 按钮配置 */
    --button-size: 30px; /* 按钮的宽度和高度 */
    --button-bg-color: #e0e4e9; /* 默认背景色 */
    --button-border-color: #c0c4c9; /* 默认边框色 */
    --button-icon-color: #333; /* 图标颜色 */
    --button-active-border-color: #d1a26f; /* 激活状态的边框色 */
    --button-shadow-color: rgba(0, 0, 0, 0.2); /* 按钮的阴影颜色 */
}


body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--font-color);
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    font-size: 12px;
    color: #333;
    text-shadow: 0 1px 0.5px #ffffff;
    font-weight: bold;
}

h1, h2, h3, p, a {
    color: var(--font-color);
}

a:hover {
    color: var(--accent-color);
}

.input-field:focus {
    outline: 1px solid var(--border-color);
}

.card, .input-field {
    border: 1px solid var(--border-color);
}

.separator {
    border-bottom: 1px solid var(--border-color);
}

.hidden {
    display: none;
}

.visible {
    display: block; /* 或者 "inline"、"inline-block" */
}


.button {
    width: var(--button-size);
    height: var(--button-size);
    background-color: var(--button-bg-color);
    border: 1px solid var(--button-border-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px var(--button-shadow-color);
    transition: border-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.button img {
    width: 50%; /* 图标大小，可以根据需要调整 */
    height: 50%;
    fill: var(--button-icon-color); /* 使用 icon 颜色 */
}

.button:hover {
    box-shadow: 0 6px 12px var(--button-shadow-color);
    border-color: var(--border-color);
}

.button.active {
    border-color: var(--button-active-border-color);
    box-shadow: 0 6px 12px var(--button-active-border-color);
}

/* 方块按钮的样式 */
.square-button {
    border: 2px solid black;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    position: relative; /* 用于内部的 checkmark 绝对定位 */
}

.checkmark {
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    display: none;
}

/* 组件容器样式 */
.slider-toggle-component-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none; /* 禁用文本选择 */
    margin-bottom: 15px;
    justify-content: start;
}

/* 左侧显示ID的样式 */
.slider-toggle-visible-id {
    margin-right: 10px;
}

/* 右侧隐藏ID的样式 */
.slider-toggle-hidden-id {
    margin-left: 10px;
}

/* 中间矩形容器样式 */
.slider-toggle-shape-container {
    position: relative;
    width: 55px;
    height: 25px;
    background-color: #CAD0D3;
    margin: 0 10px;
    border-radius: 30px; /* 统一边角为圆形 */
    transition: background-color 0.3s;
}

/* 上方圆形的基础样式 */
.slider-toggle-circle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #40392e;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 4px; /* 默认在左侧（off状态） */
    transition: left 0.3s, background-color 0.3s; /* 使用left来控制动画 */
}

/* "on" 状态时的圆形位置 */
.slider-toggle-circle.on {
    left: calc(100% - 24px); /* 移动到右侧，减去自身宽度加上边距 */
    background-color: rgba(220, 188, 148, 1); /* 改变颜色以表示“on”状态 */
}

/* 鼠标悬停时矩形的样式变化 */
.slider-toggle-component-container:hover .slider-toggle-shape-container {
    background-color: #E9ECEF;
}

