:root {
    /* z-index 变量 */
    --z-index-header: 60;
    --z-index-sidebar: 50;
    --z-index-status-bar: 40;
    --z-index-main: 30;
    --z-index-footer: 0;

    /* 尺寸变量 */
    --header-height: 80px;
    --sider-width: 120px;

    /* 颜色变量 */
    --font-color: rgb(31, 34, 38);
    --background-color: rgb(223, 228, 240);
    --border-color: rgb(23, 24, 26);
    --box-shadow-default: 2px 2px 10px var(--border-color); 
    --border-radius: 12px;

    /* 强调色变量 */
    --accent-color: rgb(220, 188, 148);
    --accent-color-secondary: rgb(154, 126, 90);
    --warning-color-primary: rgb(139, 0, 0);
    --warning-color-secondary: rgb(179, 64, 32);

    /* 按钮配置 */
    --button-size: 30px; /* 按钮的宽度和高度 */
    --button-bg-color: #e0e4e9; /* 默认背景色 */
    --button-border-color: #c0c4c9; /* 默认边框色 */
    --button-icon-color: #333; /* 图标颜色 */
    --button-active-border-color: #d1a26f; /* 激活状态的边框色 */
    --button-shadow-color: rgba(0, 0, 0, 0.2); /* 按钮的阴影颜色 */
}


body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--font-color);
    background-color: var(--background-color);
    border-radius: var(--border-radius);
}

h1, h2, h3, p, a {
    color: var(--font-color);
}

a:hover {
    color: var(--accent-color);
}

.input-field:focus {
    outline: 1px solid var(--border-color);
}

.card, .input-field {
    border: 1px solid var(--border-color);
}

.separator {
    border-bottom: 1px solid var(--border-color);
}

.button {
    width: var(--button-size);
    height: var(--button-size);
    background-color: var(--button-bg-color);
    border: 1px solid var(--button-border-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px var(--button-shadow-color);
    transition: border-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.button img {
    width: 50%; /* 图标大小，可以根据需要调整 */
    height: 50%;
    fill: var(--button-icon-color); /* 使用 icon 颜色 */
}

.button:hover {
    box-shadow: 0 6px 12px var(--button-shadow-color);
    border-color: var(--border-color);
}

.button.active {
    border-color: var(--button-active-border-color);
    box-shadow: 0 6px 12px var(--button-active-border-color);
}