#regionsCard {
    position: fixed;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 25px 30px 20px 30px;
    gap: 15px;
    
}
.regionInfoCard {
    background: linear-gradient(to bottom, rgba(220, 220, 220, 0.7), rgba(255, 255, 255, 0.5));
    border-radius: 10px; /* 边缘圆滑效果 */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* 模糊的阴影效果 */
    padding: 5px 20px 20px 20px; /* 内容的内边距 */
    backdrop-filter: blur(10px); /* 模糊效果，可以让背景更加柔和 */
    border: 1px solid rgba(255, 255, 255, 0.2); /* 模拟边框的细微高光 */}
    

.regioncard-region-title {
    margin: 10px 0px 5px 0px;
}

.regionInfoCard h1, .regionInfoCard h2, .regionInfoCard h3 {
    margin: 10px 0px 5px 0px;
}

.regionInfoCard h1 {
    color: var(--text-h1-color);
}
.regionscard-label-content {
    display: flex;            /* 使用 flexbox 布局 */
    flex-direction: row;      /* 横向排列子元素 */
    align-items: center;      /* 子元素在垂直方向上居中 */
    gap: 10px;                /* 子元素之间的间距，可以根据需要调整 */
    padding: 1px;            /* 内边距，增加一些空间感 */
    box-sizing: border-box;   /* 包含内边距和边框 */
    height: 10px;
    color: var(--text-small-color);
}

.regionInfoCard-infoArea{
    display: flex;            /* 使用 flexbox 布局 */
    flex-direction: row;      /* 横向排列子元素 */
    align-items: start;      /* 子元素在垂直方向上居中 */
    justify-content: space-between; /* 子元素之间平分可用空间 */
}


.regionInfoCard-infoExpandArea {
    display: flex;            /* 使用 flexbox 布局 */
    flex-direction: row;      /* 横向排列子元素 */
    align-items: start;      /* 子元素在垂直方向上居中 */
    justify-content: space-between; /* 子元素之间平分可用空间 */
}

.detailExpand-side {
    display: flex;            /* 使用 flexbox 布局 */
    flex-direction: column;      /* 横向排列子元素 */
}
.regioninfo-listTitle {
    color: var(--text-h3-color);

}
.regioninfo-ul {
    padding-left: 15px;
}

.region-styled-button {
    font-size: 12px;
    width: 20%;
    color: #333;
    padding: 8px 8px 8px 8px;
    background: linear-gradient(to bottom, #e6e6e6, #f2f2f2);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 0 #fff;
    position: relative;
    font-weight: bold;
  }


  .region-styled-button:before {
    left: 10%;
    transform: translateY(-150%);
  }

  .region-styled-button:after {
    left: 10%;
    transform: translateY(50%);
  }

  .region-styled-button:hover {
    background: linear-gradient(to bottom, #f2f2f2, #e3d6a8);
    border: 2px double var(--accent-color);
  }

  .regionCard-DetailExpandArea {
    flex-direction: column;
  }